@import 'css-reset-and-normalize-sass/scss/flavored-reset-and-normalize';

$background-color: #fff;

body {
    width: 100vw;
    height: 100vh;
    background-color: $background-color;
    padding: 12px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color: #f5f5f5;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 1170px;
}

.flex-container {
    background-color: #fff;
    width: 100px;
    margin: 10px;
    padding: 8px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.flex-containers {
    display: flex;
    flex-wrap: wrap;
}
